html {
    background-color:  #090B29;
 }

 body {
    text-align: center;
    margin-top: 50px;

 }

 img {
    position: relative;
    left: 100px;
    
 }

 p {
    text-align: right;
   
 }



 
    
 
       


